* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    background-color: hsl(30, 77%, 88%);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-container {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    border-radius: 1rem;
    background-color: white;
    padding: 2rem;
    margin: auto 0;
    height: auto;
}

img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    align-self: center;
}

h1 {
    color: hsl(24, 5%, 18%);
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: "Young serif";
}

.description {
    padding-bottom: 1rem;
}

header {
    color: hsl(14, 45%, 36%);
    padding-bottom: 1rem;
}

p,
li,
article {
    font-size: 16px;
    font-family: Outfit;
    font-weight: 400;
    color: black;
}

.prep {
    font-weight: 700;
}

.prep-container {
    background-color: hsl(330, 100%, 98%);
    padding: 1rem;
}

.prep-container li {
    margin-left: 2rem;
    padding-bottom: 1rem;
}

.ingredients {
    font-weight: 600;
    font-family: "Young serif";
    font-size: 1.5rem;
    padding-top: 1rem;
}

.ingredients-container li {
   margin-left: 2rem;
   padding-bottom: 1rem;
}

.ingredients-container {
    border-bottom: 1px solid black;
}

.instructions {
    font-weight: 600;
    font-family: "Young serif";
    font-size: 1.5rem;
    padding-top: 1rem;
}

.instructions-container {
    border-bottom: 1px solid black;
}

.instructions-container li {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.nutrition {
    font-weight: 600;
    font-family: "Young serif";
    font-size: 1.5rem;
    padding-top: 1rem;
}

.nutrition-container article {
    padding-bottom: 1rem;
}

#nutrition-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: Outfit;
    font-weight: 600;
}

dd, 
dt {
    border-bottom: 1px solid black;
    padding: 1rem 0 1rem 0;
}

dt {
    padding-left: 1rem;
}

dd {
    color: hsl(332, 51%, 32%);
}

@media (max-width: 768px) {
    .hero-container {
        max-width: 90%;
        padding: 1rem;
    }
}